<h5 class="card-title">Welcome, {{username}}, you have signed in successfully!</h5>
<br>
<br>
{{#if profile}}
  <p><strong>Name: </strong> {{profile.name}}</p>
  <p><strong>Title: </strong> {{profile.title}}</p>
  <p><strong>Mail: </strong> {{profile.mail}}</p>
  <p><strong>Phone: </strong> {{profile.phone}}</p>
  <p><strong>Location: </strong> {{profile.location}}</p>
{{else}}
  <a class="btn btn-primary" href="/graphCall">See Profile</a>
{{/if}}